@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

body {
  background-image: url('../images/photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;

}


nav{
  transition: all .2s;
	background: linear-gradient(225deg, rgba(59,156,107,1) 0%, rgba(64,164,183,1) 43%, rgba(53,105,166,1) 100%);
	width: 80%;
  height: auto;
  z-index: 100;
  position: absolute;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.a-propos {
display:flex;
justify-content: center;
height: 100%;

}

.hidden{
  transform: translateX(-120%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.2em;
  line-height: 2.2;
}

.fermer {
  width: 50px;
}

button {
background: none;
border: none;
outline-style:none;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 3.5em;
  margin: 0;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.8em;
  margin: 0;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 2em;
  margin: 0;
}

.duree {
  margin-top: 0.6em;
}

.logo {
  width: 30%;
  padding: 2.5em;
}

.informations {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(15,15,15,1) 90%);
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.boutons {
  display: inline-grid;
  grid-gap: 2em;

}

.portrait {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.boutons img {
width: 80px;

}


#btn-play {

  display: flex;
  align-items: center;
  justify-content: center;

}
#picto {
width: 30%;
margin: 0;
opacity: 0.5;
}

@media screen and (min-width: 1000px) {

  .logo {
    width: 15%;
    padding: 3em;
  }
  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 3em;
    margin: 0;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.2em;
    margin: 0;
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.8em;
    margin: 0;
  }

  .duree {
    margin-top: 0.6em;
  }
  .informations {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(15,15,15,1) 90%);
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .boutons img {
  width: 50px;
  }
  .fermer {
    width: 30px;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 2;
  }

    #picto {
    width: 17%;
    margin: 0;
    opacity: 0.5;
    }
}
